h2{
    color: chocolate;
    background-color: darkgreen;
    
}

p{
    color: blueviolet;
}
div{
    font-size: medium;
}
span{
    background-color: chartreuse;
    
}

.one-div{
    font-size: x-large;
    background-color: black;
}

#one-id{
    color: fuchsia;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}