<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Office</title>
</head>
<body>
    <h1>Change Currency</h1>
    <!--Pull Data with Jinja Syntax-->
    <b><font size=12 color="#FF0000">Dollar: <font color="000000">{{Dollar}}</font></font></b><br>
    <b><font size=12 color="#FF0000">Euro: <font color="000000">{{Euro}}</font></font></b><br>
    <b><font size=12 color="#FF0000">Gold: <font color="000000">{{Gold}}</font></font></b><br>
    <b><font size=12 color="#FF0000">BTC: <font color="000000">{{BTC}}</font></font></b><br>

</body>
</html>